@model TravelTripProject.Models.Classes.BlogComment

@{
    ViewData["title"] = ViewBag.title1;
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="~/personal_blog-web/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/personal_blog-web/web/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
</head>
<body>

    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">

                @foreach (var item in Model.Value1)
                {
                    <div class="single-grid">
                        <img src="@item.BlogImage" alt="" />
                        <br />
                        <br />
                        <br />
                        <h6>@item.Date.ToLongDateString()</h6>
                        <h3>@item.Title</h3>
                        <br />
                        @foreach (var line in item.Explanation.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None))
                        {
                            <p>@line</p>
                        }

                    </div>
                }

                @foreach (var item in Model.Value2)
                {
                    <ul class="comment-list">
                        <li>
                            <div class="desc">
                                <img src="~/personal_blog-web/web/images/avatar.png" class="img-responsive" alt="">
                                <h3>@item.UserName</h3>
                            </div>

                            <p>@item.CommentText</p>
                        </li>
                    </ul>
                }

                @Html.Action("PartialComment", "Blog")
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    <div class="footer">
        <div class="container">
            <p>Copyrights © 2015 Blog All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</body>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
