@model TravelTripProject.Models.Classes.BlogComment

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<head>
    <link href="~/personal_blog-web/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/personal_blog-web/web/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="~/personal_blog-web/web/js/move-top.js"></script>
    <script type="text/javascript" src="~/personal_blog-web/web/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---->

</head>
<body>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">

                @foreach (var item in Model.Value1)
                {
                    <div class="single-grid">
                        <img src="@item.BlogImage" alt="" />
                        <br />
                        <br />
                        <h3 href="/Blog/BlogDetails/@item.Id" style="font-size: 24px">@item.Title</h3>
                        <h6>@item.Date.ToLongDateString()</h6>
                        <p>@item.Explanation.Substring(0, item.Explanation.Substring(0, 100).LastIndexOf(" "))... <a href="/Blog/BlogDetails/@item.Id">Devamını oku</a></p>
                    </div>
                }


                <div class="clearfix"></div>
            </div>



                <div class="col-md-4 side-content">
                    <div class="recent">
                        <h3>RECENT BLOGS</h3>
                        <ul>
                            @foreach (var item in Model.Recent3Blogs)
                            {
                                <li><a href="/Blog/BlogDetails/@item.Id">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="comments">
                        <h3>RECENT COMMENTS</h3>
                        <ul>
                            @foreach (var item in Model.Value2)
                            {
                                <li>
                                    @item.UserName on <a href="/Blog/BlogDetails/@item.BlogId">@item.Blog.Title</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
    <!---->
    <div class="footer">
        <div class="container">
            <p>Copyrights © 2015 Blog All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>

</body>




